includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5
#   parameters:
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#        - '#^Call to an undefined method Illuminate\\\\Http\\\\Resources\\\\Json\\\\AnonymousResourceCollection\\:\\:appends\\(\\)\\.$#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false